*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-weight: normal;
}

body{
    font-family: $font;
    font-size: 20px;
}

.wrapper{
    max-width: calc(1200px - 40px);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.grid{
    display: $grid;
    gap: $gap;
}

.grid_three{
    grid-template-columns: $gridThree;
}